<a href="https://colab.research.google.com/github/Bhomitkapoor/DE_AzureOlympicsProjects/blob/main/Copy_of_PWSKILLS_LAB1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
1+2

3

In [ ]:
34527+6786

41313

In [ ]:
# Assignment of value to a variable
a=4644+87687.0
b=4644+87687

In [ ]:
type(a)
type(b)

int

In [ ]:
sudh = 45456

In [ ]:
sudh

45456

In [ ]:
# String
d= "bhomit"
d

'bhomit'

In [ ]:
str1= "Hello, My  name is Bhomit"
str1

str

In [ ]:
type(str1)

In [ ]:
f= 456.897

In [ ]:
type(f)

float

In [ ]:
# real & imaginary numbers
c= 9+6j

In [ ]:
type(c)

complex

In [ ]:
c.real

9.0

In [ ]:
c.imag

6.0

In [ ]:
# Boolean
a = True
b= False
type(a)

bool

In [ ]:
# Operations
a1=10
a2=29
a1 + a2

39

In [ ]:
a1/a2

0.3448275862068966

In [ ]:
a1-a2

-19

In [ ]:
a1*a2

290

In [ ]:
45/35

1.2857142857142858

In [ ]:
# Why do we need variables
# > To create Reusability
# > to refernece the values

In [ ]:
a,b,c,d,e = 323,22,22,True, 6.3

In [ ]:
a

323

In [ ]:
b

22

In [ ]:
c

In [ ]:
d

True

In [ ]:
e

6.3

In [ ]:
# Special charaters at the start of the variable can never work.
# Like %a, $a, -b, +r, @q or @a or True = 67 or False = 678

In [ ]:
b1= True

In [ ]:
b2= False

In [ ]:
b1-b2

1

In [ ]:
b2-b2

0

In [ ]:
b1-b1

0

In [ ]:
b1/b2     # 1/0   it will be an error.

ZeroDivisionError: ignored

In [ ]:
s4= ' this is my new code'

In [ ]:
s4 = 'this is my new code'.
#  For commenting use # symbol.

SyntaxError: ignored

In [ ]:
# This is my first python class.

In [ ]:
''' This is the multi line comments. '''
a = 10

In [ ]:
'Bhomit' + 123

TypeError: ignored

In [ ]:
'Bhomit' + ' Kapoor'

'Bhomit Kapoor'

In [ ]:
-x= 234

SyntaxError: ignored

In [ ]:
# type Casting
s1= 100
s2= "string2"
#s1+s2   # unsupported operand type(s) for +: 'int' and 'str'

str(s1) + s2

'100string2'

In [ ]:
fullname = "Bhomit Kapoor"

In [ ]:
fullname[1]

'h'

In [ ]:
fullname[0]   # the first position

'B'

In [ ]:
fullname[-1]    # backward indesing at 1st position the value will be printed.

'r'

In [ ]:
fullname[-4]    # backward indesing at 4th position the value will be printed.

'p'

In [ ]:
fullname[-100]    # backward indexing at 100th position the value will be printed, but in our string we do not have any value so it will not print and return an error.

IndexError: ignored

**How indexing is done:

 0 1 2 3 4 5      : Forward Indexing

  B h o m i t

-6-5-4-3-2-1      : Backward Indexing**

## Slicing
How Slicing is done !

**strVariable[Starting index : ending Index]**

In [ ]:
str1 = "Hello Hi"
str1[0:2]

'He'

In [ ]:
str1[5:20]

' Hi'

In [ ]:
str1[2:]    # extract everything starting from 2nd index and print everything till end of the string.

'llo Hi'

In [ ]:
# very special case, when we want to skip letters present in the string.

print("Hello Hi - after slicing with 2 skipping value = ",str1[0:5:2])     # start: end:skipping value

print(str1[0::2])     # start: end :skipping value

Hello Hi - after slicing with 2 skipping value =  Hlo
HloH

In [ ]:
# only want to print 'iH o' from the 'Hello Hi'
str1 = "Hello Hi"

str1[-1:-5 : -1]  # for reverse order but with negative ending index.
str1[7:-5: -1]  # # reverse order but with positive ending index.

'iH o'

In [ ]:
str1 = "Hello Hi"

str1[::-1]   # to print a reverse of a string    or str1[end index like 7 here :   leave empty for full value: -1]

'iH olleH'

Item Assignment:  Strings do not support direct reassignment of a value.

For example: str2 = "Hello"  we cannot directly change it to "Cello" using str2[0] ="C"

# Python
## Lists
## Tuples
## Sets

In [ ]:
list1 = []   # use square brackets for it.
list1 = [12,3,4,5,6, "hi", "go", (1+3j), 4544.776, True, [1,2,3,5]] # this is a list
type(list1)

list

In [ ]:
list1
# -11  -10  -9    -8   -7    -6      -5       -4        -3         -2          -1           # Negative Indexing
# [12,  3,   4,    5,   6,   'hi',  'go',    (1+3j),   4544.776,   True,   [1, 2, 3, 5]  ]
#  0    1    2     3    4      5      6        7         8          9         10            # Positive Idexing

[12, 3, 4, 5, 6, 'hi', 'go', (1+3j), 4544.776, True, [1, 2, 3, 5]]

In [ ]:
list1[-1][3]     # trying to take values from an inner list at 10th index position

5

In [ ]:
# Concatenationof tywo lists is only possibleif they are having same data types

In [ ]:
list("Hello")   # Converting a string into List -> every letter will be treated as a separate string value.

['H', 'e', 'l', 'l', 'o']

In [ ]:
# Repeating the list elements
l1= [1,2,3, "Hi"]
l1*2

[1, 2, 3, 'Hi', 1, 2, 3, 'Hi']

In [ ]:
# changing a values in list is possible    - > hence we say list is a mutable object that can be changed.
l1[0] ="Hi"

In [ ]:
l1

['Hi', 2, 3, 'Hi']

## Tuples

In [ ]:
t1= (1,2,3,4,5,"Bk","Hi")      # Tuple uses Curve brackets.
t1
type(t1)

1

In [ ]:
t1[0]

1

In [ ]:
t1[-1]

'Hi'

In [ ]:
t2 = (6,7,8,9,"Jee")

In [ ]:
t1+t2  # joinng 2 tuples

(1, 2, 3, 4, 5, 'Bk', 'Hi', 6, 7, 8, 9, 'Jee')

In [ ]:
#multiplying t20 tuples
# t1*t2   # not possible
print(t1*2)
print(t2*2)

(1, 2, 3, 4, 5, 'Bk', 'Hi', 1, 2, 3, 4, 5, 'Bk', 'Hi')
(6, 7, 8, 9, 'Jee', 6, 7, 8, 9, 'Jee')

In [ ]:
#Converting a list into  a Tuple.

# l1   ->   tuple
tuple(l1)

('Hi', 2, 3, 'Hi')

In [ ]:
# Sets    -   Dictionary   -    Collection

s1= {}
type(s1)

dict

In [ ]:
# set always create a unique values
# It removes the duplicates.

s2 = {"Bhomit", "Kapoor", 1,2,3,4,1,2,3,4,5}

In [ ]:
s2       # only unique values will come.

{1, 2, 3, 4, 5, 'Bhomit', 'Kapoor'}

In [ ]:
l3 = [1,2,3,4,5,6,[1,2,3]]

tuple(l3)    # Is possible  to convert list into tuple
set(l3)      # It is not possible to convert a list into set if it has an internal list with it. Otherwise single list can be converted into a set.

TypeError: ignored

In [ ]:
# Converting a set into a tuple
s3 = {1,2,3,4,5}
tuple(s3)

(1, 2, 3, 4, 5)

In [ ]:
s4 = {6,7,8,9}
t5 = tuple(s4)
print(t5)
t5[0]

(8, 9, 6, 7)

8

In [ ]:
s4[1]   # Inside a set we cannot reach a Specific Indexing
# Items of a set in python are immutable (unchangeable), do not duplicate values, and unordered

TypeError: ignored

In [ ]:
# Dictionary
d= {}
type(d)

dict

In [ ]:
d1= {'k1': 'MünchenerStraße', 'k2':'Ingolstadt', 'k3': '85051'}
d1

{'k1': 'MünchenerStraße', 'k2': 'Ingolstadt', 'k3': '85051'}

>  '  A key can be a tuple or string or integer '
>  ' A Key in a dictionary cannot be a Set or a List   (['Hi', 2, 3, 'Hi'])  '

>  d2 = { ['Hi', 2, 3, 'Hi'] : 'Hi'}     Not possible

>  d3 = { "['Hi', 2, 3, 'Hi']" : 'Hi'}   Possible but it is a string here not a list.

In [ ]:
# Value in a dictionary can be a list tuple or set.

d4 = {
      'course': ['Math', 'English', 'Science'],    # value being a list
      'Teacher': ('Anuj', 'Anjali', 'Priya'),     # values being a tuple
      'Price' : {1000,2000,3000},                 # values are a set
      'Building': 'A-Block',
      'Year': 2023
     }

In [ ]:
d4

{'course': ['Math', 'English', 'Science'],
 'Teacher': ('Anuj', 'Anjali', 'Priya'),
 'Price': {1000, 2000, 3000},
 'Building': 'A-Block',
 'Year': 2023}

In [ ]:
l5= [1,1,2,1,1,1,2,3,4,5,'Hello', 'Red', 'Red']

In [ ]:
l5.count(1)

5

In [ ]:
l5.find(1)

AttributeError: ignored

In [ ]:
s1= "Quickly do the work."

In [ ]:
s1.title()   # 1st letter of every word will be capital.

'Quickly Do The Work.'

In [ ]:
s1.capitalize()   # only first word has a capital letter.

'Quickly do the work.'

In [ ]:
s1.split()

['Quickly', 'do', 'the', 'work.']

In [ ]:
s2= "Quickly.do . the. work."
print(s2)
s2.split('.')

Quickly.do . the. work.

['Quickly', 'do ', ' the', ' work', '']

In [ ]:
s2.replace('Q', '?')

'?uickly.do . the. work.'

In [ ]:
s5= "Hello"

In [ ]:
s5.center(10, '_')

'__Hello___'

In [ ]:
# removing spaces.
s6 = "            Hi    "

In [ ]:
s6.rstrip()

'            Hi'

In [ ]:
s6.lstrip()

'Hi    '

In [ ]:
s6.strip()

'Hi'

In [ ]:
isnumeric()   , isalpha()   ,

In [ ]:
s1=  "Hi"
print(  s1.isalnum(), s1.isnumeric(), s1.isalpha()   )

True False True

In [ ]:
l1

['Hi', 2, 3, 'Hi']

In [ ]:
l1.insert(0,"NewValue")
l1

['NewValue', 'NewValue', 'Hi', 2, 3, 'Hi']

In [ ]:
l1.append("OK")
l1

['NewValue', 'NewValue', 'Hi', 2, 3, 'Hi', 'OK', 'OK']

In [ ]:
l1.extend('low')     #splitting and then appending the values.

In [ ]:
l1

['NewValue', 'NewValue', 'Hi', 2, 3, 'Hi', 'OK', 'OK', 'l', 'o', 'w']

In [ ]:
l1.pop()    # removing the last index value.

'w'

In [ ]:
l1

['NewValue', 'NewValue', 'Hi', 2, 3, 'Hi', 'OK', 'OK', 'l', 'o']

In [ ]:
l1.clear()

# Assignment : 1
Python Basics

In [ ]:
1.) declare 2 variables x & y assign them the integer values. swap them without using any temporary variable.

In [ ]:
## declare two variables
x= 10
y=20
print(f"Values before swapping them: x= {x} , y= {y} ")

# swapping the values
x,y = y,x

# printing the swapped values now
print(f"Swapped values : x={x}, y = { y}")

Values before swapping them: x= 10 , y= 20
Swapped values : x=20, y = 10

In [ ]:
2.)  Program that calculates the area of rectangle. user can give the input  and store them in variables, calculate and display the are.

In [ ]:
l= float(input("enter length of rectangle"))
b= float(input("enter the breadth of the rectangle"))

area = l*b
print(f"the area of the rectangle with {l} in meters as length and {b} breadth in meters are: {area} metre square.")

enter length of rectangle22
enter the breadth of the rectangle22
the area of the rectangle with 22.0 in meters as length and 22.0 breadth in meters are: 484.0 metre square.

In [ ]:
3.) Program to convert the temperature from Celcius to Fahrenheit

In [ ]:

#Enter the temp. in *C.
c= float(input("Enter the Temperature in Celcius"))
f= (c* 9/5) +32 #converting into Fahrenheit
print(f"{c}*  is equal to {f}* Fahrenheit.")#  Temperature =

Enter the Temperature in Celcius22
22.0*  is equal to 71.6* Fahrenheit.

In [ ]:
'''Topic: String Based Questions'''
# 1.) Program to take input and print the length of string

inValue= str(input("Enter a value "))
print(inValue)

Enter a value 111
111

In [ ]:
''' 2.) A Program that takes input from User and then counts the number of vowels in the string.'''
inputString= input("Enter a string to see how many vowels are present")

vowels = "aeiouAEIOU"

countingVowels= sum(inputString.count(vowel) for vowel in vowels)
print(countingVowels)

Enter a string to see how many vowels are present7612873bjhbjbjxca+
1

In [ ]:
''' 3.) Reversing a string using slicing '''

ipStr= input("Enter the string to reverse")
print(ipStr[::-1])

Enter the string to reverse782t7tn
nt7t287

In [ ]:
'''  4.) Palindrome Check '''

ipStr= input("Enter the string to reverse")
if (ipStr.lower() == ipStr[::-1].lower()):
  print("It is a Palindrome")
else:
  print("Nopes!!!")

Enter the string to reverse121
It is a Palindrome

In [ ]:
'''  5.) removing all the spaces from a string. '''

ipStr= input("Enter the string to reverse")
print(ipStr.strip())

Enter the string to reverse     hi
hi

In [ ]:
type((1,2))

tuple

In [ ]:
#return a list of all the values form a  dictionary
d1= {
    1: "a",
    2: "b",
    3:"c"
}
values_list = list(d1.values())
print(values_list)

['a', 'b', 'c']

In [ ]:
# How to create a set in Python

myset1= {1,2,3,4,5,6}
print(myset1)


# using set() constructor
list1= [1,2,3,56]
toset1 = set(list1)
print(toset1)


# using e pty set
etSet = set()
print(type(etSet))


# using comprehension
myset1= {x for x in range(1,6) }
print(myset1)

{1, 2, 3, 4, 5, 6}
{56, 1, 2, 3}
<class 'set'>
{1, 2, 3, 4, 5}

In [ ]:
print({1,2,3})
#single element tuple
st = (1,)
print(st)
print(type(st))

#Otherwise it will crerate an integer
nst = (1)
print(nst)
print(type(nst))

{1, 2, 3}
(1,)
<class 'tuple'>
1
<class 'int'>

In [ ]:
d2= {[1,2]:'w'}

TypeError: ignored

In [ ]:
type([1,2,3])
# Creating a list with numbers from 1 to 5
numbers = [1, 2, 3, 4, 5]

# Adding the number 6 to the end of the list
numbers.append(6)

print(numbers)  # Output: [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [ ]:
type(tuple[1,2])
type((1,2))

tuple

In [ ]:
# to remove a specific value we use:
n1 = [1,2,3,4]
n1.remove(1)
n1

[2, 3, 4]

In [ ]:
person = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

# Accessing the value associated with the key "name"
name_value = person["name"]
print(name_value)
print(person.keys())
print(person.values())

John
dict_keys(['name', 'age', 'city'])
dict_values(['John', 30, 'New York'])

In [ ]:
type(set[1,2,3])
type({1,2})

set

In [ ]:
stri= "asasWDS"
stri.capitalize()
len(stri)

7


### 20th August Quiz
```
1.) Mutable-List  , Immutable : String, frozenset, tuple
2.) To create empty set in python :
    > empty_set = set()
3.)
4.)
5.) Set do not allow duplicate values
6.) Tuple immutable (1,2,3,4)
7.) method to add element to set - add()
8.) keys() method to get all the elemetns form the dictionary # >dict1.keys()
9.)
10.)
11.) Lists in Python are mutable, meaning that methods like remove() and pop() modify the original list in place.
12.)Tuple can be used as a key for the dictionary. as keys in dictionary are immutable & so is tuple.
13.)update() method can be used for adding multiple items to list.

20.) get() method is used for getting a value from the dictionary withj keys.
21.) To create an empty list  
->   empty_list = []   or by
->   empty_list = list()




















```

# 2 September Conditionals in Python

In [ ]:
x= "Hi"
y= "Ok"

print(f"{x} & {y}")

print("{2}  and {0}  and  {1}".format(1,2,3))

Hi & Ok
3  and 1  and  2

In [ ]:
s= input("engter a string")

print('!'+ s+'!')

engter a stringcool
!cool!

In [ ]:
print("""

hello, how are you
no worries, i can make it possible""" )

hello, how are you
no worries, i can make it possible

In [ ]:
# Arithmetic Operators

a= 10
b=100

print("add:", a+b,
"division   (quotient):", b/a,
"subtraction:", b-a,
"equality", b==a,
"b % (modulus) a ",    b%a, '\n'
"Identity Operator", a is b,  # It is for memory check whether both variables points to same memory object.
 " to check that we can see the id of that ", id(a) , id(b),   '\n',
"a &b  not equal to each other ", a!=b ,
"a == b ", a ==b



      )

add: 110 division   (quotient): 10.0 subtraction: 90 equality False b % (modulus) a  0
Identity Operator False  to check that we can see the id of that  137400668324368 137400668327248
 a &b  not equal to each other  True a == b  False

In [ ]:
a= [1,2,3,4,5]
a=b
print("Identity Operator; " , a is b,
a == b )

Identity Operator;  True True

In [ ]:
# enter an integer:
x = int(input("Enter an integer: "))
y= 3**35/x                            # ** exponential operator
print(y)

Enter an integer: 1
5.0031545098999704e+16

In [ ]:
2**2          # ** exponential operator

4

In [ ]:
a>b  # greater than
a<b   # less than

False

In [ ]:
a=10
b=4
bin(a)
bin(b)

'0b100'

In [ ]:
a&b

0

In [ ]:
a^b  # XOR

14

In [ ]:
a=10

In [ ]:
a>>1

5

# Predcitiong of Half Data  & Full Data

In [ ]:
# script1_train_test.py

from sklearn.datasets import fetch_california_housing
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error
import pickle

# Load the dataset
data = fetch_california_housing()
X, y = data.data, data.target

# Splitting the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Preprocessing: Scale the data
scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Training a Gradient Boosting model
GBR = GradientBoostingRegressor(n_estimators=100, random_state=42)
GBR.fit(X_train_scaled, y_train)

# Predict on the test data
y_pred = GBR.predict(X_test_scaled)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error on Test Data: {mse}")

# Save the model and scaler for use in the next script
with open('GBR_model.pkl', 'wb') as model_file:
    pickle.dump(GBR, model_file)

with open('data_scaler.pkl', 'wb') as scaler_file:
    pickle.dump(scaler, scaler_file)

Mean Squared Error on Test Data: 0.2945383540752303

In [ ]:
# Predict on the test data
y_pred = GBR.predict(X_test_scaled)

# Display the first 10 predictions and true values for comparison
print("Predictions:", y_pred[:10])
print("True Values:", y_test[:10])

Predictions: [0.55297477 1.09962228 4.12504045 2.5630132  2.22270433 1.74032511
 2.32201917 1.72569219 3.10307156 4.3014052 ]
True Values: [0.477   0.458   5.00001 2.186   2.78    1.587   1.982   1.575   3.4
 4.466  ]

In [ ]:
# script2_full_data_prediction.py

from sklearn.datasets import fetch_california_housing
import pickle

# Load the dataset
data = fetch_california_housing()
X_full, y_full = data.data, data.target

# Load the trained model and scaler from Script 1
with open('GBR_model.pkl', 'rb') as model_file:
    GBR = pickle.load(model_file)

with open('data_scaler.pkl', 'rb') as scaler_file:
    scaler = pickle.load(scaler_file)

# Preprocess the full dataset
X_full_scaled = scaler.transform(X_full)

# Predict on the full dataset
y_full_pred = GBR.predict(X_full_scaled)

# Display predictions for the full dataset (here, just showing the first 5 for brevity)
print(y_full_pred[:5])

[4.24659654 4.01276268 3.98311657 3.36855926 2.61461486]

In [ ]:
# Display predictions for the full dataset (here, just showing the first 5 for brevity)
print(y_full_pred)

[4.24659654 4.01276268 3.98311657 ... 0.68019032 0.78903501 0.81796516]

# Class 3rd September 2023

In [ ]:
'''logical operators
and | or | not '''

SyntaxError: ignored

In [ ]:
a= 100
b=20

In [ ]:
(a<1) or (b<200)

True

In [ ]:
a= True
not(a)

False

In [ ]:
& -> and
| -> or
^ -> XOR
~  -> negation

In [ ]:
# Negation of a as 8 becomes -9
a=8
~a

-9

In [ ]:
x= [1,2,3,4,5]
2 in x    # membership operator : to chekc whether a value is present or not.

True

In [ ]:
7 in x

False

In [ ]:
a=100
a << 1

200

## Logical Operators

In [ ]:
if
if else
if elif else

In [ ]:
# Calculator
n1 = int(input("enter a number"))
n2 = int(input("enter a number"))
operation= input("enter an operation")

if operation == '+':
  print(n1+n2)

elif operation == '-':
  print(n2-n1)
else:
  print('Wait for more operations......')

enter a number213
enter a number43252
enter an operation-
43039

In [ ]:
num1=int(input("enter number1:"))
num2=int(input("enter number2:"))
op=input("enter op:")

if op =='+':
         print(num1+num2)
elif op =='-':
         print(num1-num2)
elif op=='*':
         print(num1*num2)
elif op =='/':
         print(num1/num2)
else:
         print("Invalid op:")

enter number1:1
enter number2:2
enter op:+
3

In [ ]:
print(range(10))

range(0, 10)

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(2,10,3))

[2, 5, 8]

In [ ]:
for i in range(100):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
for i in range(3):
  print(i)

0
1
2

In [ ]:
for x in list(range(20)):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
str1= input("Enter a string")
for i in str1:
  print(i)

Enter a stringHello+
H
e
l
l
o
+

In [ ]:
for i in ['a', 'B', 'c']:
  print(i)

a
B
c

In [ ]:
# dictionary
di1= {'x': 'Hello', 'y':'Hi', 'z':'Bie' }
for i in di1:
  print(i)

for i in di1:
  print(di1.values())

for i in di1.values():
  print(i)

x
y
z
dict_values(['Hello', 'Hi', 'Bie'])
dict_values(['Hello', 'Hi', 'Bie'])
dict_values(['Hello', 'Hi', 'Bie'])
Hello
Hi
Bie

In [ ]:
li1 = list(input("Enter values for inserting them into a list... separated by spaces 'like Hi Hello Good' ").split())

for l in li1:
  print(l)
  print(type(li1))

Enter values for inserting them into a list... separated by spaces 'like Hi Hello Good' as asa
as
<class 'list'>
asa
<class 'list'>

In [ ]:
# Create an empty dictionary
my_dict = {}

# Determine the number of entries you want to add
n = int(input("How many entries do you want to add to the dictionary? "))

# Loop to get key-value pairs from the user
for _ in range(n):
    key = input("Enter key: ")
    value = input("Enter value for key '{}': ".format(key))
    my_dict[key] = value

print("Updated dictionary:", my_dict)

How many entries do you want to add to the dictionary? 3
Enter key: 1
Enter value for key '1': Hi
Enter key: 2
Enter value for key '2': ji
Enter key: 3
Enter value for key '3': d
Updated dictionary: {'1': 'Hi', '2': 'ji', '3': 'd'}

In [ ]:
#######################################

for key in my_dict:
    print(key, my_dict[key])

1 Hi
2 ji
3 d

In [ ]:
for key in my_dict:
  print(key , my_dict[key])

1 Hi
2 ji
3 d

In [ ]:
print(list(range(320)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319]

In [ ]:
for x in range(10):
  print(x, end=' Ö ')

0 Ö 1 Ö 2 Ö 3 Ö 4 Ö 5 Ö 6 Ö 7 Ö 8 Ö 9 Ö

In [ ]:
for i in range(5):
  print(i)
else:
  print("Done")

0
1
2
3
4
Done

In [ ]:
for i in range(8):
  print(i)
else:
  print("#####", end = " It's done ############")

0
1
2
3
4
5
6
7
##### It's done ############

In [ ]:
for i in range(6):
  for j in range(i+1):
    print('#', end='  ')
  print()

#
#  #
#  #  #
#  #  #  #
#  #  #  #  #
#  #  #  #  #  #

In [ ]:
for i in range(6,0,-1):
  for j in range(i,0,-1):
    print("*", end= " ")
  print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
for i in range(1,7):
  for j in range(1,7):
    print(i*j, end='  |  ')
  print()

1  |  2  |  3  |  4  |  5  |  6  |
2  |  4  |  6  |  8  |  10  |  12  |
3  |  6  |  9  |  12  |  15  |  18  |
4  |  8  |  12  |  16  |  20  |  24  |
5  |  10  |  15  |  20  |  25  |  30  |
6  |  12  |  18  |  24  |  30  |  36  |

In [ ]:
count = 1
while count<10:
  print(count)
  count= count+1

1
2
3
4
5
6
7
8
9

In [ ]:
# When to use for loop :    When we know how many times we wnat to iterate.
# When to use While loop: when we do not know till how long we need to run it.

In [ ]:
age = 0
while age!= 27:
    age= int(input('Enter the age'))
    print('last time you entered this age:',  age)

Enter the age22
last time you entered this age: 22
Enter the age27
last time you entered this age: 27

In [ ]:
list1=[23,23,22,21,20]

age=0;
3
while age not in list1:
    age = int(input("Enter Your age "))
    print("invalid age")
else:
    print("Age is  from list");

Enter Your age 2
invalid age
Enter Your age 3
invalid age
Enter Your age 23
invalid age
Age is  from list

In [ ]:
x = 5

if x > 10:

   print("A")

elif x > 3:

   print("B")

else:

   print("C")

B

In [ ]:
x = 5

if x > 10:

   print("A")

else:

   print("B")

if x > 3:

   print("C")

else:

   print("D")

B
C

In [ ]:
x = 5

if x > 3:

   print("A")

if x == 5:

   print("B")

else:

   print("C")

A
B

In [ ]:
x = 8

if x > 10:

   print("A")

elif x > 5:

   print("B")

else:

   print("C")

B

# 9th September

In [ ]:
# Check whether a number is positive or not....

number = int(input("Enter a number:  "))

if number > 0:
  print("It is positive ")
elif number <0:
  print("It is negative number")
else:
  print("Neither negative nor Positive...")

Enter a number2
It is positive

In [ ]:
for i in range(7):
  print(i)

0
1
2
3
4
5
6

In [ ]:
days= 0
week= ['mon','tue','wed','thu','fri','sat','sun']

while days<7:
  print("Today is " , week[days])
  days+=1

Today is  mon
Today is  tue
Today is  wed
Today is  thu
Today is  fri
Today is  sat
Today is  sun

In [ ]:
week[0]

'mon'

In [ ]:
# Spliiting a text
text= "Hello , How are you ?"

print(text.split(','))

print(text.split())

['Hello ', ' How are you ?']
['Hello', ',', 'How', 'are', 'you', '?']

In [ ]:
a, b = input("Enter 2 integer values").split()

c= int(a) + int(b)
c

Enter 2 integer values11 22

33

In [ ]:
x = input("Enter 2 numbers separated by spaces ")
sum = int(x.split()[0])  + int(x.split()[1])
print(sum)

Enter 2 numbers separated by spaces2 4
6

In [ ]:
s = input("Enter Roll number, Name, and Percentage")
roll, name , percent=  s.split()
print(roll)
print(name)
print(percent)

Enter Roll number, Name, and Percentage1 Harry 79
1
Harry
79

In [ ]:
s1="A B C D E F"
print(s1.split(' ',2))   # 2 here is the maxsplit parameter after 2 split the string will be treated as whole.

['A', 'B', 'C D E F']

In [ ]:
s2= '1@2@3@4@5'
s2.split('@', 3)

['1', '2', '3', '4@5']

In [ ]:
letter = "Frank is here"
for letter in letter:
  print(letter)

F
r
a
n
k

i
s

h
e
r
e

In [ ]:
letter = "Frank is here"
for letter in letter:
  if letter =='i':
    break
  print(letter)

F
r
a
n
k

In [ ]:
for i in range(6):
  if i ==4:
    break
  print(i)

0
1
2
3

In [ ]:
i = 3
while i<=10:
  print(i)

  if i > 4:
    break
  i=i+1

3
4
5

In [ ]:
numbers = [1,2,3,5,67,7]
for i in numbers:
  if i> 10:
    break
  print(i)

1
2
3
5

In [ ]:
s= "hello, world"
for char in s:
    print(char)
    if char == ',':
        break

h
e
l
l
o
,

In [ ]:
s= "hello, world"
for char in s:

    if char == ',':
        continue
    print(char)

# continue is used for skipping a value
# break is used to stop the loop

h
e
l
l
o

w
o
r
l
d

In [ ]:
# Odd numbers 1 to 10
for i in range(0,10):
  if i%2==0:
    continue
  print(i)

1
3
5
7
9

In [ ]:
for i in range(1,12):
  if i%2!=0:
    print(i)
  else:
    continue

1
3
5
7
9
11

In [ ]:
n=1

if n > 10:
    print(n)
    pass


print('hello')

hello

In [ ]:
# Functions

def functionname(arguments):
  # function body

  return

  ################

##calling a function
functionname()

In [ ]:
x=10
def showValue(x):
  print(x)
# rather than showing the value of x as 10 it will show us the value of x as passed form the function.

In [ ]:
showValue(2)

2

In [ ]:
def addnum():
  a = 10
  b = 20
  c = a+b
  print(c)

In [ ]:
addnum()

30

In [ ]:
def addnum():
  a = int(input("Enter the first value"))
  b = int(input("Enter the second value"))
  c = a+b
  print(c)

In [ ]:
addnum()

Enter a value100
Enter a value111
211

In [ ]:
def multiplynum():
  a = int(input("Enter the first value"))
  b = int(input("Enter the second value"))
  c = a*b
  print(c)

In [ ]:
multiplynum()

Enter the first value222
Enter the second value44
9768

In [ ]:
def intro(name,age):
  print("Hi, My name is", name, ". I am ", age)

In [ ]:
intro("Hamza",11)

Hi, My name is Hamza . I am  11

In [ ]:
def introduction(name,lastname):
    print("hi", name+lastname)

In [ ]:
introduction("pw","skills")

hi pwskills

In [ ]:
def absolute(x):
  if x<0:
    print(-x)
  else:
    print(x)

In [ ]:
absolute(-8)

8

In [ ]:
def fullname(a,b):
  c=a+b
  return c

In [ ]:
y=fullname('Bhomit ', 'Kapoor')

In [ ]:
type(y)

str

In [ ]:
w=fullname('pw','skills')

In [ ]:
type(w)

str

In [ ]:
def calculator(a,b):
    c=a+b
    d=a-b
    e=a*b
    return c,d,e

In [ ]:
x=calculator(3,4)
print(x)

(7, -1, 12)

In [ ]:
def calci():
  a= int(input("Enter a number"))
  b= int(input("Enter a number"))
  sum= a+b
  subt= a - b
  divide= a//b
  return print("Sum:", sum, "Subtract:",  subt, "Divided value: ", divide)

In [ ]:
calci()

Enter a number100
Enter a number20
Sum: 120 Subtract: 80 Divided value:  5

In [ ]:
def cal(a,b):
    oper = input("enter a operator")
    if(oper == "add"):
        return a+b
    elif(oper == "sub"):
        return a-b
    elif(oper == "mul"):
        return a*b
    else:
        return a/b

In [ ]:
cal(6,7)

enter a operatoradd

13

In [ ]:
# Area of circle
def area(r):
  return 3.14*r*r

In [ ]:
area(1)

3.14

In [ ]:
def area_rect(l,b):
    area = l*b
    return area

In [ ]:
area_rect(2,3)

6

In [ ]:
def area(b,h):
    return 0.5*b*h

In [ ]:
area(3,5)

7.5

In [ ]:
'''
1. Print the first 5 positive integers in ascending order with one number
in each line
'''

def numbers():
  for i in range(6):
    print(i)

In [ ]:
numbers()

0
1
2
3
4
5

In [ ]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [ ]:
# 3. Accept an integer as input and print its square as output.
def sy():
  a = int(input("enter a number"))
  return a*a

In [ ]:
sy()

enter a number3

9

In [ ]:
a=int(input("Enter the number"))
print(a*a)

Enter the number33
1089

In [ ]:
# 4.Accept two integers as input and print their sum as output.

n1 = int(input("Enter the first number "))
n2 = int(input("Enter the second number "))
n3 = n1 + n2
print(f"The sum of {n1} and {n2}: is {n3}".format(n1, n2, n3))

Enter the first number 22
Enter the second number 33
The sum of 22 and 33: is 55

In [ ]:
'''
5. Accept two words as input and print the two words after adding a
space between them
'''

def fullname(first, second):
  print(first, "", second)

In [ ]:
fullname("Bhomit", "Kapoor")

Bhomit  Kapoor

In [ ]:
'''
Create a python program that includes a user-defined function called print_even_number().
the function should prompt the user to set a range limit before printing
all even numbers upto that limit.
'''

def print_even_number():
  l1 = int(input("Enter the first limit of even numbers"))
  l2 = int(input("Enter the second limit of even numbers"))
  for i in range(l1,l2+1):
    if i%2==0:
      print(i, end=' ')

In [ ]:
print_even_number()

Enter the first limit of even numbers1
Enter the second limit of even numbers46
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46

In [ ]:
# second method

def print_even_number():
  a , b = input("Enter 2 numbers between which we want the even numbers").split()

  for i in range(int(a), int(b)+1):
    if i%2==0:
      print(i)

print_even_number()

Enter 2 numbers between which we want the even numbers2 88
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88

## Split function  : split()

In [ ]:
text= "I am preparing a pGM"

text.split()

['I', 'am', 'preparing', 'a', 'pGM']

In [ ]:
x= input("Enter 3 word message")

Enter 3 word message1,2,3

In [ ]:
word1, word2,word3 = x.split(',')

In [ ]:
print(word1,word2,word3)

1 2 3

In [ ]:
a= int(input("Enter1st number"))
b= int(input("Enter 2nd number"))
print(a+b)

Enter1st number1
Enter 2nd number2
3

In [ ]:
a,b= input("Enter 2 numbers").split()
c= int(a) + int(b)
print(c)

Enter 2 numbers11 11
22

In [ ]:
x= input("Enter 2 numbers separated by space")
sum = int(x.split()[0]) + int(x.split()[1])
print(sum)

Enter 2 numbers separated by space22 44
66

In [ ]:
str1 = "A B C D E F"
print(str1.split(' ', 4))

['A', 'B', 'C', 'D', 'E F']

## Break the loops

In [ ]:
for letter in "Bhomit":
  if letter =="m":
    break
  print("Letter", letter)

Letter B
Letter h
Letter o

In [ ]:
for i in range(6):
  if i ==4:
    break
  print(i)

0
1
2
3

In [ ]:
i= 1
while i< 20:
  print(i)

  i= i+1
  if i == 12:
    break

1
2
3
4
5
6
7
8
9
10
11

In [ ]:
numbers = list(range(11))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
for i in numbers:
  if i >4:
    break
  print(i)

0
1
2
3
4

In [ ]:
for i in range(50):
  if i == 30:
    break
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [ ]:
for i in range(10):
  if i %2 ==0:
    continue #   printing the odd numbers only
  print(i)

1
3
5
7
9

In [ ]:
# Pass : when we want to skip that part   # it it s null type of execution
for letter in "Bhomit":
  if letter == "B":
    pass

  print(letter)

B
h
o
m
i
t

# Functions in Python

In [ ]:
def functionname(parameters):
 #  execution code logic
  return

SyntaxError: ignored

In [ ]:
def absoluteVal(n):
  if n>0:
    print(n)
  else:
    print(-n)

    return "HI"

In [ ]:
absoluteVal(-22)

22

'HI'

In [ ]:
def fullname(a,b):
  x=a +" "+ b
  return x

In [ ]:
fullname("Bhomit", "Kapoor")

'Bhomit Kapoor'

In [ ]:
def consecutivenumbers(n):
  for i in range(n):
    print(i)

In [ ]:
consecutivenumbers(5)

0
1
2
3
4

In [ ]:
# Print square of input number
def squNum():
  a= int(input("Enter a number"))
  print(a*a)

In [ ]:
squNum()

Enter a number7
49

In [ ]:
# accept 2 words as input and print this with space as output

def fullnmae():
  a= input("Enter1st word")
  b= input("Enter2nd word")
  print(f"{a} {b}".format(a,b))

In [ ]:
fullnmae()

Enter1st wordProtein
Enter2nd wordBar
Protein  Bar

In [ ]:
# Function that print even numbers between 2 limited input numbers
def printEvenNumbers():
      l1= int(input("Enter the first limit of even numbers"))
      l2= int(input("Enter the second limit of even numbers"  ))
      for i in range(l1,l2+1):
        if i%2==0:
          print(i)

In [ ]:
printEvenNumbers()

Enter the first limit of even numbers22
Enter the second limit of even numbers55
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54

In [ ]:
def print_even_numbers():
  a,b = input("Enter 2 numbers bertween which we wna tthe even numbers").split()
  for i in range(int(a), int(b)):
    if i%2== 0 :
      print(i)

print_even_numbers()

Enter 2 numbers bertween which we wna tthe even numbers222 444
222
224
226
228
230
232
234
236
238
240
242
244
246
248
250
252
254
256
258
260
262
264
266
268
270
272
274
276
278
280
282
284
286
288
290
292
294
296
298
300
302
304
306
308
310
312
314
316
318
320
322
324
326
328
330
332
334
336
338
340
342
344
346
348
350
352
354
356
358
360
362
364
366
368
370
372
374
376
378
380
382
384
386
388
390
392
394
396
398
400
402
404
406
408
410
412
414
416
418
420
422
424
426
428
430
432
434
436
438
440
442

In [ ]:
# Pythagoras check using Python udf

def checkrightangletriangle(a,b,c):
  if a **2 == b**2 +c**2 or          b**2== a**2 +c**2 or         c**2 == a**2 + b**2 :
    print("It is a right angle trianlge")
  else:
    print("it, is not a R.A.T.")

a = int(input("enter 3 numbers to check"))
b = int(input("enter 3 numbers to check"))
c = int(input("enter 3 numbers to check"))

checkrightangletriangle(a,b,c)

enter 3 numbers to check11
enter 3 numbers to check22
enter 3 numbers to check33
it, is not a R.A.T.

In [ ]:
17.Accept a string as input. Your task is to determine if the input string is a valid password or not. For a
string to be a valid password, it must satisfy all the conditions given below:
(1) It should have at least 8 and at most 32 characters
(2) It should start with an uppercase or lowercase letter
(3) It should not have any of these characters: / \ = ' "
(4) It should not have spaces
It could have any character that is not mentioned in the list of characters to be avoided (points 3 and
4). Output True if the string forms a valid password and False otherwise

In [ ]:
def validPassword(pwd:str):
  if len(pwd) >= 8 and pwd[0].isalpha() and all(char not in pwd for char in [" ", "'", "/", "=", '"', '\\']):
    return True
  else:
    return False

In [ ]:
validPassword('hellLo123')

True

# 10th September :::: Lambda Functions

In [ ]:
x = "awesome"         # variable inside the function is known as global variable
# global scope
def myFunc():
  x = "Fantastic"       # variable defined inside the function is known as the scoped variable and cannot be accessed outside the function.
  #local scope
  print("Python is "+ x)

In [ ]:
myFunc()
print(x)

Python is Fantastic
awesome

In [ ]:
x = 100 # global variable
def addFunc():
  y= 300 # local scope
  print('local variable y  ', y)

  print('Global variable x= ', x)
  z= x+y
  print(z)

addFunc()

local variable y   300
Global variable x=  100
400

In [ ]:
## Functions -> USer Defined Functions   &   Built-In Functions

In [ ]:
# Python Functional Arguments

def add_numbers(a,b):
  sum = a+b
  print("Sum", sum)

add_numbers(33,22)

Sum 55

In [ ]:
# Default arguments in functions
def add_new(a=3, b=5):
  print(a+b)
add_new(4,66)

add_new()

70
8

In [ ]:
def emp_name(name= "KingShuk Lee"):
  print("Our Employee name is ", name)
emp_name()
emp_name("6876887")

Our Employee name is  KingShuk Lee
Our Employee name is  6876887

In [ ]:
# Variable arguments : when we add a * to the function as arguments

def simple(*numbers):
  print(numbers)

In [ ]:
simple(12,4,5,6,6,7)

(12, 4, 5, 6, 6, 7)

In [ ]:
def simple(*numbers):
  print(numbers)
  sum = 0
  for i in numbers:
    sum = i+sum
    print(sum)

In [ ]:
simple(12,4,5,6,6,7)

(12, 4, 5, 6, 6, 7)
12
16
21
27
33
40

In [ ]:
def intro(**data):                          # ** means we are passing keywords with key value pairs
  print("Datat type of arguments", type(data))

  for key, value in data.items():
    print(key,value)

In [ ]:
intro(fname= "Bhomit", lName="Kapoor")

Datat type of arguments <class 'dict'>
fname Bhomit
lName Kapoor

In [ ]:
x= {'a':1, 'b':2}
x.items()

dict_items([('a', 1), ('b', 2)])

In [ ]:
for key,value in x.items():
  print(key,value)

a 1
b 2

In [ ]:
def showKeyValue(**y):
  print(y)

In [ ]:
showKeyValue(x=1,y=2, s=3, f=4, name="Gursimar",lname="harry")

{'x': 1, 'y': 2, 's': 3, 'f': 4, 'name': 'Gursimar', 'lname': 'harry'}

## Lambda Functions

It is an Anonymous Function
FnName= lambda argument(s): EXPRESSION

greet= lambda:print("Hello")

In [ ]:
# single line functions
greet = lambda : print("Hello Dear")
greet()

Hello Dear

In [ ]:
y= lambda: print("Bhomit Kapoor")
y()

Bhomit Kapoor

In [ ]:
addnum= lambda a,b:a+b
addnum(2,4)

6

In [ ]:
mulNum= lambda a,b:a*b
mulNum(2,6)

12

In [ ]:
a= int(input("1st number"))
b= int(input("2nd number"))
square= lambda a,b: (a**2, b**2)

square(a,b)

1st number44
2nd number66

(1936, 4356)

In [ ]:
evenodd= lambda n: "EVEN" if n%2==0 else "odd"
evenodd(33)

'odd'

### LAMBDA FUNCTION FIND THE SUM Of NUMBERS

In [ ]:
# LAMBDA FUNCTION FIND THE SUM Of NUMBERS

sumOfNumbers= lambda a,b,c : (a+b+c)
sumOfNumbers(1,2,5)

8

In [ ]:
products=[
          {'name': 'pd1', 'price': 10},
          {'name': 'pd2', 'price': 20},
          {'name': 'pd3', 'price': 30},
          {'name': 'pd4', 'price': 40}   ]

# sorted()
sorted_Procedure = sorted(products, key=lambda x:x['price'])
#sorted_Procedure = sorted(products, key=lambda x:x['price'], reverse=True)

In [ ]:
for i in sorted_Procedure:
  print(i)

{'name': 'pd1', 'price': 10}
{'name': 'pd2', 'price': 20}
{'name': 'pd3', 'price': 30}
{'name': 'pd4', 'price': 40}

### LAMBDA FUNCTION for Vowel check
It accepts a character as argument and returns true is it is a Vowel otherwise false.

In [ ]:
vowelcheck = lambda n : 'true' if n in ('a','e','i','o', 'u') else "false"

In [ ]:
vowelcheck("a")

'true'

In [ ]:
# Other better way

#filter  #map   #reduce

x= 10
abs(x)

10

In [ ]:
language = ['Python', 'Java', 'Js','C']
enumerate_prime= enumerate(language)
list(enumerate_prime)
list(enumerate_prime, )

[(0, 'Python'), (1, 'Java'), (2, 'Js'), (3, 'C')]

In [ ]:
lst1 = [1,2,3,4,5,6,7,8,9,0,10]
d = [x for x in lst1 if x>4 if x%2==0]

In [ ]:
d

[6, 8, 10]

In [ ]:
a = []
for x in lst1:
  if x>4:
    a.append(x)

In [ ]:
a

[5, 6, 7, 8, 9, 10]

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9,0,10]
e = [x if x >4 else 'lessthan4' for x in list1]

In [ ]:
e

['lessthan4',
 'lessthan4',
 'lessthan4',
 'lessthan4',
 5,
 6,
 7,
 8,
 9,
 'lessthan4',
 10]

In [ ]:
a = []

for x in lst1:
  if x>4:
    a.append(x)
  else:
    a.append("Less Than 4")

In [ ]:
a

['Less Than 4',
 'Less Than 4',
 'Less Than 4',
 'Less Than 4',
 5,
 6,
 7,
 8,
 9,
 'Less Than 4',
 10]

### Using many if else conditions together in lambda function

In [ ]:
lst1 = [1,2,3,4,5,6,7,8,9,0,10]
f= ['two' if x%2==0 else 'Three' if x%3==0 else "Not a & b" for x in lst1]

In [ ]:
f

['Not a & b',
 'two',
 'Three',
 'two',
 'Not a & b',
 'two',
 'Not a & b',
 'two',
 'Three',
 'two',
 'two']

# 16Sept :::: Conditional Statements & Loops

In [ ]:
# Conditional Statements  & Loops
a = 500
shirt_price =200
pant_price = 500
coat_price = 800
my_size = 'M'
size_Store = 'M'
my_fav_color = 'Blue'
store_color = ['white', 'Blue', 'Black']

if True:                                                               # Isolated If condition
  print("This is a testing Block")                                     # This is separate if block from the below code


if coat_price <= a:
  print("Yes, I will be able to buy")

elif pant_price <= a:
  print("I will buy pant ")
  if my_size== size_Store:
    print("YOU CAN BUY PANT WE HAVE YOUR SIZE")
    if my_fav_color in store_color:
      print("Yes, we have your color")
    else:
      print("Fva color not available")

elif shirt_price <= a:
  print("I will buy the shirt ")
else:
  print("I wont buy")

This is a testing Block
I will buy pant
YOU CAN BUY PANT WE HAVE YOUR SIZE
Yes, we have your color

In [ ]:
course = ['DSA', 'DSM', 'Java', 'BD', 'DA']

price = 2000
mentor= 'Bhomit'
if ('DSM' in course) and price ==2000 and 'Bhomit' == mentor:
  print("You can Start.....")

You can Start.....

In [ ]:
cP = 2000
if 1000<= cP <= 1500:
  print("I will do the course")

else:
  print("It is out of budget")

It is out of budget

In [ ]:
userName = "Bhomit"
password = "Bhomit"
if userName ==  input("Enter Username") and password == input("Enter the password"):    # or
  print("You have Loged in")

else:
  print("Enter correct details")

Enter UsernameBhomit
Enter the passwordBhomit
You have Loged in

In [ ]:
mobNo = 1234
OTP = 1111

if mobNo == int(input("enteer the reg number")):
  print("Yes you are reg number")

  if OTP == int(input("Entetr otp ")):
    print("you have logged in successfully")
  else:
    print("OTP IS not correct")
else:
  print("You have not entered the Valid number ")

enteer the reg number111
You have not entered the Valid number

In [ ]:
mobNo = {1234,1111,22222,2222,3333}
OTP = 1111

if int(input("enteer the reg number")) in mobNo:
  print("Yes you are reg number")

  if OTP == int(input("Entetr otp ")):
    print("you have logged in successfully")
  else:
    print("OTP IS not correct")
else:
  print("You have not entered the Valid number ")

enteer the reg number1111
Yes you are reg number
Entetr otp 1111
you have logged in successfully

In [ ]:
# for loop - Iterativey accessing the data

l= [1,2,3,4,5,76,8]

for i in l:
  print(i+2)

3
4
5
6
7
78
10

In [ ]:
mobile_no = {2343243,3543534,45654646,23432,345345,345343}
otp = 1234
if int(input("enter your registered mo no")) in mobile_no:
    print("yes you are a registered user")
    if otp == int(input("enter otp that we have sent on your mo no")):
        print("you have logged in succefully")
    else :
        print("otp is not correct please try to enter again")
else :
    print("you have not entered a valid mo no")

enter your registered mo no23432
yes you are a registered user
enter otp that we have sent on your mo no1234
you have logged in succefully

In [ ]:
l= [12,3,3,4,5,6,6]
mobile_no = [2343243,3543534,45654646,23432,345345,345343]
stud_mo = 23432
stud_details = {'mobile_no' : 23432 ,'course' : ['dsa' , 'dsm' , 'big data']}

for i in mobile_no:
    print(i)
    if i == stud_mo:
        print("yes user is registered")
        if i == stud_details['mobile_no']:
            print("yes student details are avaible in DB ")
            print("course accessed to this user is " , stud_details['course'])

2343243
3543534
45654646
23432
yes user is registered
yes student details are avaible in DB
course accessed to this user is  ['dsa', 'dsm', 'big data']
345345
345343

In [ ]:
l= [12,3,3,4,5,6,6]
mobile_no = [2343243,3543534,45654646,23432,345345,345343]
stud_mo = 23432
stud_details = {'mobile_no' : 23432 ,'course' : ['dsa' , 'dsm' , 'big data']}

for i in mobile_no:
  print(i)
  if i == stud_mo:
    print("Yes user is registered")
    if i == stud_details['mobile_no']:
      print("Yes student details are available in DB")
      print("Course accessed by the students is", stud_details['course'])

2343243
3543534
45654646
23432
Yes user is registered
Yes student details are available in DB
Course accessed by the students is ['dsa', 'dsm', 'big data']
345345
345343

In [ ]:
t = (12,3,4,5,56, "sudh","kumar",345.565)

for i in t:
  print(i)

print("String only!!!")

for i in t:
  if type(i) ==str:
    print(i)

12
3
4
5
56
sudh
kumar
345.565
String only!!!
sudh
kumar

In [ ]:
t = (12,3,4,5,56, "sudh","kumar",345.565)

l_int = []
l_str = []

for i in t:
  if type(i) ==str:
    l_str.append(i)
  elif type(i)==int:
    l_int.append(i)
print(l_str, l_int)

['sudh', 'kumar'] [12, 3, 4, 5, 56]

In [ ]:
d = {"name":"sudh" , 'class' :["big data" , "data analytics","data science " , "DSA" , "architecture", "system design"],
'mobile no' : 345353453, "email_id":'sskumari787y@gmail.com'}

In [ ]:
d

{'name': 'sudh',
 'class': ['big data',
  'data analytics',
  'data science ',
  'DSA',
  'architecture',
  'system design'],
 'mobile no': 345353453,
 'email_id': 'sskumari787y@gmail.com'}

In [ ]:
# iterating over the dictionaries

# d.values()
for i in d.values():
  print(i)

sudh
['big data', 'data analytics', 'data science ', 'DSA', 'architecture', 'system design']
345353453
sskumari787y@gmail.com

In [ ]:
# Fibonacci Series


def fib(n):

  a=0
  b=1

  if n==1:
    print('0')

  elif n==2:
    print('0','1')

  else:
    print(a)
    for i in range(n):
      c=a+b
      a=b
      b=c
      print(c)

In [ ]:
fib(9)

0
1
2
3
5
8
13
21
34
55

In [ ]:
mobileNUm= {1,2,3,4,5,6,78}

otp= 1111

if int(input("Enter Your Mob. number")) in mobileNUm:
  print("Yes YOu are registered")
  if otp==int(input("Enter a otp ")):
    print("Logged IN successfully")
  else:
    print("Otp not Correct")
else:
  print("YOu have not entered a valid number")

Enter Your Mob. number1
Yes YOu are registered
Enter a otp 1111
Logged IN successfully

# 17th Sept ::: Functions

In [ ]:
def test():
  print("This is a testing function")

test()

This is a testing function

but we cannot concatenate the Nonetype that is this test() with the Other types as  printis a nonetype.

In [ ]:
def test(s):
  print("This is a testing function",s)
y=":> New with concatenated string"
test(y)

This is a testing function :> New with concatenated string

In [ ]:
test(y)+ "HI"

This is a testing function :> New with concatenated string

TypeError: ignored


The error: TypeError  Traceback (most recent call last)
<ipython-input-27-ec1940ed78d4> in <cell line: 1>()
----> 1 test(y)+ "HI"
TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'


Reason:  WIth print statement it is not possible as it is the Nonetype.



```
# hence we need return here
```

In [ ]:
def test2():
  return 1+2

In [ ]:
test2() +100

print('\n')

''' '\n'
# but if we have a print then it will not work.
def test2():
  print(1+2)

test2() +100
'''

" '\n'\n# but if we have a print then it will not work.\ndef test2():\n  print(1+2)\n\ntest2() +100\n"

In [ ]:
def test():
  print("Hi")

In [ ]:
test()

Hi

In [ ]:
def test():
  return "HI"

In [ ]:
test() + " jkn" + " 12"

'HI jkn 12'

In [ ]:
def test():
  return 2, "Bro" , True , {'k1': "Hi"}

# by using the return we can get the more than one outcomes.

In [ ]:
test()

(2, 'Bro', True, {'k1': 'Hi'})

In [ ]:
def testR(x):
  return x

In [ ]:
testR(8)

8

In [ ]:
testR([1,2,3,4])

[1, 2, 3, 4]

In [ ]:
testR([2,3,4])

[2, 3, 4]

In [ ]:
def testx(x,y):
  return x,y

In [ ]:
testx("Names", ["bhomit", "Ashish"])

('Names', ['bhomit', 'Ashish'])

In [ ]:
def test7(a:int, b:int):
  return a,b

In [ ]:
test7("Na", "Ja")

('Na', 'Ja')

In [ ]:
test7("Hi", [1,2,3,4])

# here we have created the function test7 that takes the input as integer but it is even able to take the string & list
# It can print
# It won't work with logics in function.

('Hi', [1, 2, 3, 4])

In [ ]:
def test8(a:int, b:int):
  return a/b

In [ ]:
test8("ss", "ll")

NameError: ignored

In [ ]:
def test10(c,d):
  """This function can take 2 inputs and return an addition or concatenated values"""
  return c + d

In [ ]:
test10("HI"," ioibk")

'HI ioibk'

In [ ]:
def testStatic(*args):
  return args

In [ ]:
testStatic(1,2,3,4)

(1, 2, 3, 4)

In [ ]:
def test(*bhom):
  return bhom

In [ ]:
test(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [ ]:
def test12(**kwargs):
  return kwargs

In [ ]:
test12(a= 2, b=23, c=33)

{'a': 2, 'b': 23, 'c': 33}

In [ ]:
test12(n= {'a': 2, 'b': 23, 'c': 33})

{'n': {'a': 2, 'b': 23, 'c': 33}}

## Lambda functions

In [ ]:
def add1(a,b):
return a+b

IndentationError: ignored

In [ ]:
add2= lambda a,b: a+b

In [ ]:
add2(2,3)

5

In [ ]:
subtLambda= lambda a,b: b-a

In [ ]:
subtLambda(8,33)

25

In [ ]:
subtLambda

In [ ]:
def check_even(n):
  if n%2==0:
    print("It is even number")
  else:
    print("##### Not an Even number....")

In [ ]:
check_even(99)

##### Not an Even number....

In [ ]:
check_evenWithLambda= lambda n: "Even number" if n%2==0 else "#### Not an even number ####"

In [ ]:
check_evenWithLambda(87)

'#### Not an even number ####'

In [ ]:
numberDivBy3 = lambda n: "Divisible by 3" if n%3==0 else"Not Divisible by 3"

In [ ]:
numberDivBy3(21)

'Divisible by 3'

In [ ]:
list1 = [12,2,3,4,5,6]

In [ ]:
minFromList1 = lambda n: min(n)
minFromList1(list1)

2

In [ ]:
divlam = lambda x,y : x/y

In [ ]:
divlam(22,33)

0.6666666666666666

In [ ]:
upper = lambda st: st.upper()

In [ ]:
upper("bhomit")

'BHOMIT'

In [ ]:
oddlist= [1,3,5,7,2,3,5,4,8]

def oddsum(b):
  l1= []
  for i in b:
    if i%2!=0:
      l1.append(i)
  return sum(l1)

In [ ]:
oddsum(oddlist)

24

In [ ]:
[i for i in oddlist if i%2!=0]

[1, 3, 5, 7, 3, 5]

In [ ]:
sum([i for i in oddlist if i%2!=0])

24

In [ ]:
sum_of_lambda= lambda b: sum([i for i in b if i%2!=0])
###########practice########

In [ ]:
sum_of_lambda(oddlist)

24

In [ ]:
sum_of_even = lambda x: sum([i for i in x if i%2==0])

In [ ]:
sum_of_even(oddlist)

14

In [ ]:
def fact_num(n):
  a = 1
  for i in range(1,n+1):
    a = i*a

  return a

In [ ]:
fact_num(7)

5040

In [ ]:
def fat_num(x):
  y= 1
  for i in range(1, x+1):
    y= i*y

  return y

In [ ]:
fat_num(4)

24

In [ ]:
fact_with_lambda =lambda n: 1 if n==0 else n*fact_with_lambda(n-1)

In [ ]:
fact_with_lambda(4)

24

In [ ]:
fl = lambda x : 1 if x ==0 else x* fl(x-1)

In [ ]:
fl(2)

2

In [ ]:
def fac_num(n):
  a = 1
  for i in range(1, n+1):
    a = i * a
  return a

In [ ]:
fac_num(5)

120

In [ ]:
list2= [1,2,3,4,5]


l1= []

for i in list2:
  l1.append(i+2)

In [ ]:
l1

[3, 4, 5, 6, 7]

In [ ]:
def add_list2(l):
  l1= []
  for i in l:
    l1.append(i+2)

  return l1

In [ ]:
add_list2([3, 4, 5, 6, 7])

[5, 6, 7, 8, 9]

In [ ]:
def add_list(l):
  l1=[]
  for i in l:
    l1.append(i + 3)
  return l1

In [ ]:
add_list([1,2])

[4, 5]

In [ ]:
c = lambda n: n+2

In [ ]:
c(10)

12

In [ ]:
l=[1,1,1,1]
c = map(lambda n: n+2, l)

In [ ]:
list(c)

[3, 3, 3, 3]

In [ ]:
def testxy(c):
  return c+2

In [ ]:
list(map(testxy, l))
# we are mapping the function testxy with list l

[3, 3, 3, 3]

In [ ]:
striList= ["Ashish", "Gaurav", "Saur"]
# print the list with length of names
l= []

for i in striList:
  l.append(len(i))

In [ ]:
l

[6, 6, 4]

In [ ]:
def listToKnowlength(in_l):
  l1= []
  for i in in_l:
    l1.append(len(i))
  return l1

In [ ]:
listToKnowlength(["hi", "qwe", 'OPIP'])

[2, 3, 4]

In [ ]:
# lambda function that can return lenrth
c = lambda n : len(n)

In [ ]:
c("ghgh")

4

In [ ]:
list(map(lambda n : len(n) , ["hi", "qwe", 'OPIP']))

[2, 3, 4]

In [ ]:
l= ["hi", "qwe", 'OPIP']
list(map(len, l ))

[2, 3, 4]

In [ ]:
# reverse a list
l= ["hi", "qwe", 'OPIP']
l[::-1]

['OPIP', 'qwe', 'hi']

In [ ]:
reve= lambda c: c[::-1]

In [ ]:
reve("hjhj")

'jhjh'

In [ ]:
list(map(reve, ["lko", "njnjnp"] ))

['okl', 'pnjnjn']

In [ ]:
l = [1,1,1,1,1,2,2,2,3]

from functools import reduce

In [ ]:
reduce(lambda a,b: a*b, l)

24

In [ ]:
reduce(lambda a, b : a if a> b else b , l )

3

In [ ]:
n= 3
fact = reduce(lambda a,b : a*b, range(1,n+1))

In [ ]:
fact

6

In [ ]:
n=10
def t1(a,b):
  return a*b

f1= reduce(t1, range(1,n+1))

In [ ]:
f1

3628800

In [ ]:
l2= [2,2,2,2,4,5,7]
[i for i in l2 if i%2==0]

[2, 2, 2, 2, 4]

In [ ]:
l2= [2,2,2,2,4,5,7]

pdt = reduce( lambda a,b: a*b, [i for i in l2 if i%2==0])
pdt

In [ ]:
pdt

64

In [ ]:
l = [1,2,4,5,6,7,87,9]

list(filter(lambda a: a%2==0 , l))

[2, 4, 6]

In [ ]:
nl= ["bh", "kj", "ghiu","zuz"]
list(filter(lambda a: len(a)<3, nl))

['bh', 'kj']

In [ ]:
nl= ["bh", "kj", "ghiu","zuz"]

list(filter(lambda b: b[0] == 'g', nl))

['ghiu']

In [ ]:
## Recursion

## Recursion

In [ ]:
# fucntions that keep on calling them unless it is fully finished.

In [ ]:
def gen_fib(n):
  if n<=1:

    return n
  else:
    return gen_fib(n-1) + gen_fib(n-2)

In [ ]:
gen_fib(700)

# 23rd September : While & Break

In [ ]:
while True:
  print("this is a unending while loop")

In [ ]:
a = 100
while a >= 89:
  print(a)
  a= a-1

100
99
98
97
96
95
94
93
92
91
90
89

In [ ]:
s = 0
n = 1
t = 10 # limit
while n <= t :
  s= s +n
  n = n+1
print(s)

55

In [ ]:
sum = 0
i = 1
l = 10
while i <= l:
  sum = sum + i
  i = i+1
  print(i,"__")
  print(sum)

2 __
1
3 __
3
4 __
6
5 __
10
6 __
15
7 __
21
8 __
28
9 __
36
10 __
45
11 __
55

In [ ]:
sum = 0
i = 1
l = 10
while i <= l:
    sum = sum + i
    i = i + 1
print(sum)

55

In [ ]:
# factorial of numbers
f = 1
l = 5
n = 1
while n<=l:
  f= f*n
  n= n+1
print(f)

120

In [ ]:
# multiplication table

input1 = int(input("Enter the desired table number....."))
n= 1
l = 10
while n<= l:
  p = n*input1
  print("::> ", input1 , "*", n, "=", p)
  n = n+1

Enter the desired table number.....2
::>  2 * 1 = 2
::>  2 * 2 = 4
::>  2 * 3 = 6
::>  2 * 4 = 8
::>  2 * 5 = 10
::>  2 * 6 = 12
::>  2 * 7 = 14
::>  2 * 8 = 16
::>  2 * 9 = 18
::>  2 * 10 = 20

In [ ]:
import time
s = 50
while s > 0:
  print(s)
  time.sleep(1)
  s = s-1
print("Break time is Over")

50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
Break time is Over

In [ ]:
import time
s = 60
while s > 0:
  print(s)
  time.sleep(2)
  s = s-1
  print("--running--")

print("Over")

60
--running--
59
--running--
58
--running--
57
--running--
56
--running--
55
--running--
54
--running--
53
--running--
52
--running--
51
--running--
50
--running--
49
--running--
48
--running--
47
--running--
46
--running--
45
--running--
44
--running--
43
--running--
42
--running--
41
--running--
40
--running--
39
--running--
38
--running--
37
--running--
36
--running--
35
--running--
34
--running--
33
--running--
32
--running--
31
--running--
30
--running--
29
--running--
28
--running--
27
--running--
26
--running--
25
--running--
24
--running--
23
--running--
22
--running--
21
--running--
20
--running--
19
--running--
18
--running--
17
--running--
16
--running--
15
--running--
14
--running--
13
--running--
12
--running--
11
--running--
10
--running--
9
--running--
8
--running--
7
--running--
6
--running--
5
--running--
4
--running--
3
--running--
2
--running--
1
--running--
Over

In [ ]:
moneyInHand = 20
while moneyInHand < 50:
  print(moneyInHand)
  choice = int(input("Enter your Choice: 1- Biscuits 4 rs. 2- Chips 2rs. 3- Lays 5rs. "))
  if choice == 1:
    print("take your biscuit")
    moneyInHand= moneyInHand - 4
  elif choice == 2:
    moneyInHand = moneyInHand -2
  elif choice == 3:
    moneyInHand = moneyInHand - 5
  else:
    print("Please select a correct choice.")

print("Not enough Balance in wallet")

20
Enter your Choice: 1- Biscuits 4 rs. 2- Chips 2rs. 3- Lays 5rs. 2
18
Enter your Choice: 1- Biscuits 4 rs. 2- Chips 2rs. 3- Lays 5rs. 1
take your biscuit
14
Enter your Choice: 1- Biscuits 4 rs. 2- Chips 2rs. 3- Lays 5rs. 2
12
Enter your Choice: 1- Biscuits 4 rs. 2- Chips 2rs. 3- Lays 5rs. 3
7
Enter your Choice: 1- Biscuits 4 rs. 2- Chips 2rs. 3- Lays 5rs. 1
take your biscuit
3
Enter your Choice: 1- Biscuits 4 rs. 2- Chips 2rs. 3- Lays 5rs. 1
take your biscuit
-1
Enter your Choice: 1- Biscuits 4 rs. 2- Chips 2rs. 3- Lays 5rs. 1
take your biscuit
-5

KeyboardInterrupt: ignored

In [ ]:
import time
stop = False

while not stop:
  print("press s for stopping")
  time.sleep(1)
  press_stop = input("Enter s to stop")

  if press_stop.lower() == 's':
    stop = True

print("Start the class - break is over....")

press s for stopping
Enter s to stopw
press s for stopping
Enter s to stop
press s for stopping
Enter s to stopw
press s for stopping
Enter s to stops
Start the class - break is over....

In [ ]:
import time
s = 5
while s > 0:
  print(s)
  time.sleep(1)
  i = input("Enter any value to stop...")
  if i :
    break
  s = s-1

print("Break the loop")

5
Enter any value to stop
4
Enter any value to stop
3
Enter any value to stopd
Break the loop

In [ ]:
# concept of locking the accounts  !

In [ ]:
user_id = "bhomit"
pwd = "123@2424222"

counter = 1
user_id_check = False
while counter <=3:
  entered_user_id =input("Enter your uid & Pwd ")
  if entered_user_id == user_id:
    user_id_check = True

  if user_id_check == True:
    entered_pwd = input("Enter your Password")
    if  entered_pwd == pwd:
      print("You are Logged IN now...")
      break

    counter = counter +1

if counter == 4:
  print("You have attempted max attempts")

Enter your uid & Pwd ss
Enter your uid & Pwd ss
Enter your uid & Pwd s
Enter your uid & Pwd s
Enter your uid & Pwd s

KeyboardInterrupt: ignored

In [ ]:
user_id = "bhomit"
pwd = "123@2424222"

counter = 1
user_id_check = False
while counter <= 3:
    entered_user_id = input("Enter your user ID: ")
    if entered_user_id == user_id:
        user_id_check = True
        entered_pwd = input("Enter your password: ")
        if entered_pwd == pwd:
            print("You are logged in now...")
            break
        else:
            print("Incorrect password. Please try again.")
    else:
        print("User ID not found. Please try again.")

    counter = counter + 1

if counter > 3:
    print("You have exceeded the maximum login attempts.")

Enter your user ID: sad
User ID not found. Please try again.
Enter your user ID: sd
User ID not found. Please try again.
Enter your user ID: bhomit
Enter your password: 123@2424222
You are logged in now...

In [ ]:
# Better version

user_id = "bhomit"
pwd = "123"

max_attempts = 3
user_id_check = False

for counter in range(1, max_attempts + 1):
    entered_user_id = input("Enter your user ID: ")
    if entered_user_id == user_id:
        user_id_check = True

    if user_id_check:
        entered_pwd = input("Enter your Password: ")
        if entered_pwd == pwd:
            print("You are logged in now...")
            break

    if counter < max_attempts:
        print(f"Incorrect user ID or password. Attempts left: {max_attempts - counter}")

if not user_id_check:
    print("You have exceeded the maximum login attempts.")

Enter your user ID: d
Incorrect user ID or password. Attempts left: 2
Enter your user ID:
Incorrect user ID or password. Attempts left: 1
Enter your user ID:
You have exceeded the maximum login attempts.

In [ ]:
stored_user_id = "bhomit"
stored_pwd = "123"

counter= 1
user_id_check = False
user_id = input("Enter your User Id for the account...")
while counter <= 3:
  if stored_user_id == user_id:
    user_id_check = True

  else:
    print("Your User ID is incorrect")
    break
  if user_id_check == True:
    pwd_check= input("Enter ur password")
    if pwd_check == stored_pwd:
      print("You have successfully Logged In...")
      break
    counter = counter + 1
if counter > 3:
  print("You have attempted maximum attempts. account locked")

Enter your User Id for the account...bhomit
Enter ur passwords
Enter ur passwords
Enter ur passwords
You have attempted maximum attempts. account locked

In [ ]:
# To do list

todo_list= []
end_of_todo = 'n'

while end_of_todo != 'y':
  to_do_item = input("Enter a task")
  todo_list.append(to_do_item)
  end_of_todo = input("Enter n id you want to add in the todo list or enter y if you do not want to add")
print("To do list", todo_list)

Enter a task1.) Pw Skills learning
Enter x id you want to add in the todo list or enter y if you do not want to addn
Enter a task2.) gym
Enter x id you want to add in the todo list or enter y if you do not want to addy
To do list ['1.) Pw Skills learning ', '2.) gym']

In [ ]:
todo_list = []
end_of_todo = 'y'

while end_of_todo != 'n':
    to_do_item = input("Enter a task: ")
    todo_list.append(to_do_item)
    end_of_todo = input("Enter 'y' if you want to add another task or 'n' to finish: ")

print("Your to-do list:")
for task in todo_list:
    print(task)

Enter a task: 1
Enter 'y' if you want to add another task or 'n' to finish: y
Enter a task: 2
Enter 'y' if you want to add another task or 'n' to finish: y
Enter a task: 3
Enter 'y' if you want to add another task or 'n' to finish: n
Your to-do list:
1
2
3

In [ ]:
# factorial using recursive function

def fact(n):
  if n==0:
    return 1
  else:
    return n*fact(n-1)

In [ ]:
fact(3)

6

In [ ]:
# Fibonacci

def fib(x):
  if x<=1:
    return x

  else:
    return fib(x-2) + fib(x-1)

In [ ]:
fib(5)

5

In [ ]:
def sum_of_digit(n):
  s=0
  while n!=0:
    d= n%10
    s= s+d
    n=n//10                 # // operator is floor division
  return s

sum_of_digit(1234)

10

In [ ]:
def sum_of_digitsusingrecursion(n):
  if n<=9:
    return n

  else:
    return n%10 + sum_of_digitsusingrecursion(n//10)

In [ ]:
sum_of_digitsusingrecursion(123)

6

In [ ]:
# max using recursion

def my_recursion(l):
  if len(l) ==1:
    return l[0]
  else:
    return max(l[0], my_recursion( l[1:]   ))

In [ ]:
my_recursion([4,3,2,24])

24

** Power Function **

In [ ]:
def power_function(num, p):
  if p ==0:
    return 1
  else:
    return num * power_function(num, p-1)

In [ ]:
power_function(2,4)

16

In [ ]:
def pw_fun(num, pow):
  if pow == 0:
    return 1
  else:
    return num * pw_fun(num, pow-1)

In [ ]:
pw_fun(22,2)

484

# 24 September : for Loop functions

In [ ]:
checkLength = input("Enter any value")
len(checkLength)

Enter any value232324

6

In [ ]:
# Find length using recursion method
def findLength(x):
  if x== "":
    return 0
  else:
    return 1 + findLength(x[1:])

'''
The function takes a string x as its input.
It checks if the input string x is an empty string (""). If it is, it returns 0, indicating that the length of an empty string is 0.
If the input string x is not empty, it enters the else block. Here, it returns 1 + findLength(x[1:]).
In the return statement, it adds 1 to the result of calling findLength(x[1:]).
What happens inside findLength(x[1:]) is that the function is called recursively with a substring of x.
Specifically, it calls itself with x[1:], which is the string obtained by removing the first character of x.
The recursion continues until x becomes an empty string (""),
 at which point the base case is triggered, and the function starts returning 0 for each recursive call.
As the recursion unwinds, the function adds 1 for each character that was removed from the original string x.
This effectively counts the length of the string.
'''

In [ ]:
findLength("jnknjc")

6

In [ ]:
def recLen(i):
  if i == "":
    return 0
  else:
    return 1 + recLen(i[1:])

In [ ]:
recLen("Hello")

5

In [ ]:
# i[1:]. -> will return all the elements from 1st index.
i = [1, 2, 3, 4, 5]
i[1:]

[2, 3, 4, 5]

In [ ]:
s= "bhomit"
s[::-1]

# Reverse using recursion : 1st letter will go the last and rest of the letters will be reversed
def find_reverse(s):
  if s=="":
    return ""
  else:
    return find_reverse(s[1:]) + s[0]
# here the base class is returning the 1st letter and then the rest of the string undergoes the function again and then we get the reverse

In [ ]:
find_reverse("Tom")

'moT'

In [ ]:
# Counting Number of occurrences of a character
def ct_occur(s,c):
  if s == "":
    return 0
  elif s[0] == c:
    return 1 + ct_occur(s[1:], c)
  else:
    return ct_occur(s[1:],c)

In [ ]:
ct_occur("Hello", 'e')

1

In [ ]:


def rec_count_occ(s, f):
  if s == "":
    return 0
  elif s[0] == f:
    return 1 + rec_count_occ(s[1:], f)

  else:
    return rec_count_occ(s[1:], f)

In [ ]:
rec_count_occ("Helllo", 'l')

3

In [ ]:
list1= [1,2,3,4,5,6]

In [ ]:
def check_sort_list(l):
  if len(l)<=1:
    return True
  elif l[0] > l[1]:
    return False
  else:
    return check_sort_list(l[1:])

In [ ]:
check_sort_list(list1)

False

In [ ]:
# checking the square !!!
# here we are using a base case that checks whether the number is equal to the (start +1)^2 value that is recursively coming.
def check_square(n, start=1):
  if n== start **2:
    return True
  elif n < start**2:
      return False
  else:
      return check_square(n,start+1)

In [ ]:
check_square(64)

True

In [ ]:
l = [1,2,3,4,5,6]
a = 10
s = "bhomit"

In [ ]:
for i in s:
  print(i)

b
h
o
m
i
t

In [ ]:
#using a for loop on integer is not possible (iterating over the integer is not possible)
'''
for i in a:
  print(i)
'''
# TypeError: 'int' object is not iterable

'\nfor i in a:\n  print(i)\n'

In [ ]:
iter("Bhomit")

In [ ]:
iter('124')

In [ ]:
s2=iter("hskd")
next(s2)

'h'

In [ ]:
next(s2)

's'

In [ ]:
s2 = "Dataengineers"
next(s2)

TypeError: ignored

In [ ]:
l= iter([1,2,3,4,5])

In [ ]:
next(l)

5

In [ ]:
next(l).   # after the end of the list it will reuturn the error as we do not have any data anymore.

SyntaxError: ignored

In [ ]:
# set is an iterable
iter({1,2,2,4,4,5})

In [ ]:
# tuple is iterator
iter((1,2,2,2,2,2,2))

In [ ]:
# boolean obj is not iterable
iter(True)

In [ ]:
# dictionary is iterable

d1= iter({'k1':'H', 'k2':'22'})

In [ ]:
next(d1)

'k2'

In [ ]:
iter(111111)
# integer values are not iterable

TypeError: ignored

In [ ]:
iter(list(range(0,5)))  # list is iterable

In [ ]:
o= iter(range(0,5))

In [ ]:
next(o)

0

In [ ]:
# createing a range like fucntion

def rangeFunc(n):
  i = 1
  while i<=n:
    yield i
    i = i+1

In [ ]:
rangeFunc(9)

In [ ]:
for i in rangeFunc(9):
  print(i)

In [ ]:
k=iter(rangeFunc(9))

In [ ]:
next(k)

#now we can use this k to iterate over the elements

5

In [ ]:
# creating a range like fucntion

def rangeFunc(n):
  i = 1
  while i<=n:
    yield i
    i = i+1

x = iter(rangeFunc(10))
next(x)

1

In [ ]:
def ctFunc(x):
  i = 1
  list1= []
  while i<=x:
    list1.append(i)
    i = i+1
  return list1

In [ ]:
ctFunc(4)

[1, 2, 3, 4]

In [ ]:
def ctFunc(x):
  i = 1
  while i<=x:
    yield i
    i = i+1


for i in ctFunc(333):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333

In [ ]:
# Fibonacci series

def fib(n):
  a,b = 0,1
  for i in range(n):
    yield a
    a,b = b, a+b

for i in fib(9):
  print(i)

0
1
1
2
3
5
8
13
21

In [ ]:
#. Reading data from the file

for i in open('/content/read.txt'):
  print(i)

View of the Tower of Hercules near the center of A Coruña, Galicia, north-western coast of Spain. The 55 metres (180 ft) hight tower, an ancient Roman lighthouse, is the oldest (almost 1900 years) Roman lighthouse in use today and the second tallest lighthouse in Spain (after the Faro de Chipiona). The lighthouse was rehabilitated in 1791 and is a UNESCO World Heritage Site since 2009.









View of the Tower of Hercules near the center of A Coruña, Galicia, north-western coast of Spain. The 55 metres (180 ft) hight tower, an ancient Roman lighthouse, is the oldest (almost 1900 years) Roman lighthouse in use today and the second tallest lighthouse in Spain (after the Faro de Chipiona). The lighthouse was rehabilitated in 1791 and is a UNESCO World Heritage Site since 2009.







View of the Tower of Hercules near the center of A Coruña, Galicia, north-western coast of Spain. The 55 metres (180 ft) hight tower, an ancient Roman lighthouse, is the oldest (almost 1900 years) Roman lighthouse in use today and the second tallest lighthouse in Spain (after the Faro de Chipiona). The lighthouse was rehabilitated in 1791 and is a UNESCO World Heritage Site since 2009.





View of the Tower of Hercules near the center of A Coruña, Galicia, north-western coast of Spain. The 55 metres (180 ft) hight tower, an ancient Roman lighthouse, is the oldest (almost 1900 years) Roman lighthouse in use today and the second tallest lighthouse in Spain (after the Faro de Chipiona). The lighthouse was rehabilitated in 1791 and is a UNESCO World Heritage Site since 2009.





View of the Tower of Hercules near the center of A Coruña, Galicia, north-western coast of Spain. The 55 metres (180 ft) hight tower, an ancient Roman lighthouse, is the oldest (almost 1900 years) Roman lighthouse in use today and the second tallest lighthouse in Spain (after the Faro de Chipiona). The lighthouse was rehabilitated in 1791 and is a UNESCO World Heritage Site since 2009.

In [ ]:
def read_file(filename):
  with open(filename, ) as file:
    for i in file:
      yield i

In [ ]:
read_file('/content/read.txt')

In [ ]:
for i in read_file('/content/read.txt'):
  print(i)

View of the Tower of Hercules near the center of A Coruña, Galicia, north-western coast of Spain. The 55 metres (180 ft) hight tower, an ancient Roman lighthouse, is the oldest (almost 1900 years) Roman lighthouse in use today and the second tallest lighthouse in Spain (after the Faro de Chipiona). The lighthouse was rehabilitated in 1791 and is a UNESCO World Heritage Site since 2009.









View of the Tower of Hercules near the center of A Coruña, Galicia, north-western coast of Spain. The 55 metres (180 ft) hight tower, an ancient Roman lighthouse, is the oldest (almost 1900 years) Roman lighthouse in use today and the second tallest lighthouse in Spain (after the Faro de Chipiona). The lighthouse was rehabilitated in 1791 and is a UNESCO World Heritage Site since 2009.







View of the Tower of Hercules near the center of A Coruña, Galicia, north-western coast of Spain. The 55 metres (180 ft) hight tower, an ancient Roman lighthouse, is the oldest (almost 1900 years) Roman lighthouse in use today and the second tallest lighthouse in Spain (after the Faro de Chipiona). The lighthouse was rehabilitated in 1791 and is a UNESCO World Heritage Site since 2009.





View of the Tower of Hercules near the center of A Coruña, Galicia, north-western coast of Spain. The 55 metres (180 ft) hight tower, an ancient Roman lighthouse, is the oldest (almost 1900 years) Roman lighthouse in use today and the second tallest lighthouse in Spain (after the Faro de Chipiona). The lighthouse was rehabilitated in 1791 and is a UNESCO World Heritage Site since 2009.





View of the Tower of Hercules near the center of A Coruña, Galicia, north-western coast of Spain. The 55 metres (180 ft) hight tower, an ancient Roman lighthouse, is the oldest (almost 1900 years) Roman lighthouse in use today and the second tallest lighthouse in Spain (after the Faro de Chipiona). The lighthouse was rehabilitated in 1791 and is a UNESCO World Heritage Site since 2009.

## Utilising the memory in effective way.

In [ ]:
# when we use return it stores data in to the memory
# when we use the yield it returns directly rather than storing in memory .

##### for example if have to read 10 gb of data and we are using the return then first it has to store data in memory and then return

# for memory intensive operations yield is better.

# 30th September : Exception handling

In [ ]:
a = 10
b = 100
c= a*b

In [ ]:
b=0
# c/b     # here we have the error.

ZeroDivisionError: ignored

In [ ]:
# now we need to handle the error's
#why error handling is important ???
# all the code present after the error creating logic will not be executed.
# in such cases, it is better to have error handling added to the logics.

In [ ]:
l = [2,3,4,5,6]
l1 =[]
def eben_parser(l):
  try:
    for i in l:
      if i%2==0:
        l1.append(i)
      return l1
  except:

    print("Error handled.") #pass

In [ ]:
eben_parser(44)

Error handled.

In [ ]:
try:             # every line of the main code is suspicious when we use it for production purposes.
  a = int(input("Enter values for a"))
  b=  int(input("Enter values for b"))
  c= a/b
  print(c)
except:
  pass


#finally

Enter values for a3
Enter values for b0

In [ ]:
# types of errors - syntactical error is compile time error.
## try block tries to handlke the error when a syntactical issue exists.

# in python we have the try except

In [ ]:
try:
  a = int(input("Enter values for a"))
  b=  int(input("Enter values for b"))
  c= a/b
  print(c)
except:
    pass
print("Printing Values ")


# Here try except is handling the error when a ,  b is not integer

Enter values for a11
Enter values for b22
0.5
Printing Values

In [ ]:
''' any logic that we are trying to make shoulkd be in the try block. '''

' any logic that we are trying to make shoulkd be in the try block. '

In [ ]:
l = [1,2,4,56,67,6]
l1 =[]

def even_parser(l):
  try:
    for i in l:
      if i%2==0:
        l1.append(i)
    return l1
  except:
    pass

In [ ]:
even_parser(l)

[2, 4, 56, 6]

In [ ]:
try:
  c = 5/0
except Exception as e:
    print(e)

division by zero

In [ ]:
try:
  x= 8/0
except Exception as e:
  print(e)

division by zero

In [ ]:
try:
  a = int(input("Enter values for a"))
  b=  int(input("Enter values for b"))
  c= a/b
  print(c)
except Exception as e:
  print(e)

Enter values for a22w
invalid literal for int() with base 10: '22w'

In [ ]:
try:
  a = int(input())
  b = int(input())
  c = a/b
except TypeError as t:
  print(t)
except ZeroDivisionError as z:
  print(z)
except ValueError as v:
  print(type(v), v)

sdc
<class 'ValueError'> invalid literal for int() with base 10: 'sdc'

In [ ]:
try:
  x = 5/1
except ZeroDivisionError as z :
    print(z)
else:
  print("This will execute itself only once the try will be executed without an error")

This will execute itself only once the try will be executed without an error

In [ ]:
try:
  x = 5/0
except ZeroDivisionError as z :
    print(z)
else:
  print("This will execute itself only once the try will be executed without an error")

division by zero

In [ ]:
# 4th block is finally
try:
  x = 5/0
except ZeroDivisionError as z :
    print(z)
else:
  print("This will execute itself only once the try will be executed without an error")
finally:
  print("This will be always executed...")

division by zero
This will be always executed...

In [ ]:
d = {"name": "Bhomit", "mob_num": 1313, "email": "bhomitkapoor@gmail.com"}

In [ ]:
d["course"] # as we do not have a key d["course"] then it will return error.

KeyError: ignored

In [ ]:
try:
  d = {"name": "Bhomit", "mob_num": 1313, "email": "bhomitkapoor@gmail.com"}
  d["course"]
except Exception as e:
  print(type(e), e)

<class 'KeyError'> 'course'

In [ ]:
try:
  l = [1,2,4,4,56,6,7]
  l[10]
except Exception as e:
  print(e)

list index out of range

In [ ]:
try:
  i = "Bhomit"
  int(i)
except Exception as e:
  print(e)

invalid literal for int() with base 10: 'Bhomit'

In [ ]:
try:
  file_name = "/content/sample_data/anscombe.json"
  f = open(file_name)
  print(f)
  f.read()
except Exception as e:
  print(e)

<_io.TextIOWrapper name='/content/sample_data/anscombe.json' mode='r' encoding='UTF-8'>

In [ ]:
ls  -l

total 4
drwxr-xr-x 1 root root 4096 Nov 16 14:27 sample_data/

In [ ]:
pwd

'/content'

### Nested Try

In [ ]:
try:
  n = int(input("Enter a number "))
  div = 222/n
  print(div)
except (ValueError, ZeroDivisionError) as e :
  print(e)

Enter a number gug
invalid literal for int() with base 10: 'gug'

In [ ]:
try:
    try:

      n = int(input("Enter a number "))
      div = 222/n
      print(div)

    except (ValueError) as e :
      print(e)
except (ZeroDivisionError) as e :
    print(e)

Enter a number tzgt#+
invalid literal for int() with base 10: 'tzgt#+'

In [ ]:
try:
  f = open('/content/t1.txt')
  f.write("Hello")
except Exception as e:
  print(e)
finally:
  f.close()
  print("File Closed...")

not writable
File Closed...

In [ ]:
pwd

'/content'

In [ ]:
ls

sample_data/  t1.txt

In [ ]:
try:
  f = open('/content/t1.txt')
  f.read()
except Exception as e:
  print(e)
finally:
  f.close()
  print("File Closed...")

File Closed...

In [ ]:
try:
  f = open('/content/t1.txt')
  data= f.read()
except Exception as e:
  print(e)
else:
  print(data)
finally:
  f.close()
  print("File Closed...")

##### Hello ####
File Closed...

In [ ]:
try:
  f = open('/content/t1.txt')
  data=f.write("Hi")
except Exception as e:
  print(e)
else:
  print(data)
finally:
  f.close()
  print("File Closed...")

not writable
File Closed...

#### Using raise for custom Exceptions

In [ ]:
try:
  a = int(input("Enter your age"))
  if a < 0:
    raise ValueError(" ##### Height Entered is negative #####")

except ValueError as v:
  print(v)

Enter your age-33
 ##### Height Entered is negative #####

In [ ]:
try:
  age = int(input("Enter an age "))
  if age < 0:
    raise ValueError("age negative .....")
  elif age < 18:
    raise ValueError("User is Underaged ")
  else:
    print("Valid User")
except ValueError as v :
  print(v)

Enter an age22
Invalid User

## Logging

In [ ]:
import logging as log

In [ ]:
log.basicConfig(filename= 'test.log')

In [ ]:
log.info("store a message")

In [ ]:
# there are 5 levels in logging
DEBUG 10
INFO  20
Warning  30
ERROR    40
CRITICAL 50

In [ ]:
import logging
logging.basicConfig(filename='example.log', level=logging.INFO,
                    format='%(asctime)s:%(levelname)s:%(message)s')
logger = logging.getLogger(__name__)
logger.info("This is an info message")

In [ ]:
!cat example.log

cat: example.log: No such file or directory

In [ ]:
import logging
logging.basicConfig(filename='example.log', level=logging.INFO,
                    format='%(asctime)s:%(levelname)s:%(message)s')
logger = logging.getLogger(__name__)
logger.info("This is a test log message")

In [ ]:
!cat example.log

cat: example.log: No such file or directory

In [ ]:
import logging
logging.basicConfig(filename= "trytest.log", level = logging.DEBUG)
try:
  logging.info("This is a start of my Program.")
  logging.info("Asking user to enter the age.")
  age= int(input("Enter the age"))
  logging.info("User has entered the age")
  if age<0:
    logging.info("I am checking negative condition")
    raise ValueError("User has negative age which is invalid")
  elif age <18:
    logging.info("I am trying to check the underage condition")
    raise ValueError("User has Under age")
  else:
    logging.info("Valid User")
except Exception as e:
  print(e)
  logging.error(e)

Enter the age1

ERROR:root:User has Under age

User has Under age

In [ ]:
pwd

'/content'

In [ ]:
ls

sample_data/  t1.txt  trytest.log

In [ ]:

try:
  f = open('/content/trytest.log')
  data= f.read()
except Exception as e:
  print(e)
else:
  print(data)
finally:
  f.close()
  print("File Closed...")

File Closed...

In [ ]:
import logging
logging.basicConfig(filename= "trytest.log", level = logging.DEBUG, format = '%(asctime)s -%(levelname)s - %(message)s')
try:
  logging.info("This is a start of my Program.")
  logging.info("Asking user to enter the age.")
  age= int(input("Enter the age"))
  logging.info("User has entered the age")
  if age<0:
    logging.info("I am checking negative condition")
    raise ValueError("User has negative age which is invalid")
  elif age <18:
    logging.info("I am trying to check the underage condition")
    raise ValueError("User has Under age")
  else:
    logging.info("Valid User")
except Exception as e:
  print(e)
  logging.error(e)

In [ ]:
!echo "# Masters_In_Full_Stack_Data_Science" >> README.md

In [ ]:
!git init
!git add README.md
!git commit -m "first commit"
!git branch -M main
!git push -u origin main

Reinitialized existing Git repository in /content/.git/
On branch main
Untracked files:
  (use "git add <file>..." to include in what will be committed)
	.config/
	sample_data/
	t1.txt
	trytest.log

nothing added to commit but untracked files present (use "git add" to track)
error: remote origin already exists.
fatal: could not read Username for 'https://github.com': No such device or address

In [ ]:
!git config --global user.email "bk.bhomitkapoor@icloud.com"
!git config --global user.name "BhomitKapoor"

In [ ]:
!git remote add origin https://github.com//.git

error: remote origin already exists.

In [ ]:
!git remote set-url origin https://Bhomitkapoor:Fatj2fci2DhY2jtinUwefXsYquKkli0pBsxY@github.com/Masters_In_Full_Stack_Data_Science.git
!git push origin main

remote: Not Found
fatal: repository 'https://github.com/Masters_In_Full_Stack_Data_Science.git/' not found

In [ ]:

!git remote set-url origin https://Bhomitkapoor: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@github.com/Masters_In_Full_Stack_Data_Science.git
!git push origin main

output
remote: Not Found
fatal: repository 'https://github.com/Masters_In_Full_Stack_Data_Science.git/' not found

In [ ]:
!git init titanic

hint: Using 'master' as the name for the initial branch. This default branch name
hint: is subject to change. To configure the initial branch name to use in all
hint: of your new repositories, which will suppress this warning, call:
hint:
hint: 	git config --global init.defaultBranch <name>
hint:
hint: Names commonly chosen instead of 'master' are 'main', 'trunk' and
hint: 'development'. The just-created branch can be renamed via this command:
hint:
hint: 	git branch -m <name>
Initialized empty Git repository in /content/titanic/.git/